<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<!-- <key>icon</key>
			<string>Icon@3x.png</string> -->
			<key>packageIdentifier</key>
		    <string>dev.cobre.blurhider</string>
			<key>packageNameOverride</key>
			<string>Blurhider</string>
			<key>titleColor</key>
    		<string>#D98035</string>
    		<key>subtitleColor</key>
			<string>#C36100</string>
		    <key>backgroundGradientColors</key>
		    <array>
		        <string>#5B3100</string>
		        <string>#5B3100</string>
		    </array>
		</dict>

		<dict>
		  <key>cell</key>
		  <string>PSGroupCell</string>
		  <key>footerText</key>
		  <string>Changes require a respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>BHPSwitchWithInfoCell</string>
			<key>infoTitle</key>
			<string>Enable Tweak</string>
			<key>infoMessage</key>
			<string>Use this switch to enable or disable the tweak entirely</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>dev.cobre.blurhiderprefs</string>
			<key>key</key>
			<string>BHEnabled</string>
			<key>label</key>
			<string>Enable Tweak</string>
			<key>PostNotification</key>
			<string>dev.cobre.blurhiderprefs/ReloadPrefs</string>
		</dict>

		<dict>
		  <key>cell</key>
		  <string>PSGroupCell</string>
		  <key>label</key>
		  <string>Categories</string>
		  <key>footerText</key>
		  <string>Changes require a respring</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>BHPSwitchWithInfoCell</string>
			<key>infoTitle</key>
			<string>App Library Folder Background</string>
			<key>infoMessage</key>
			<string>Hide the background of App Library Categories</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>dev.cobre.blurhiderprefs</string>
			<key>key</key>
			<string>ALEnabled</string>
			<key>label</key>
			<string>App Library Folder Background</string>
			<key>PostNotification</key>
			<string>dev.cobre.blurhiderprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>BHPSwitchWithInfoCell</string>
			<key>infoTitle</key>
			<string>Folder Background</string>
			<key>infoMessage</key>
			<string>Hide the background of Folders</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>dev.cobre.blurhiderprefs</string>
			<key>key</key>
			<string>FLEnabled</string>
			<key>label</key>
			<string>Folder Background</string>
			<key>PostNotification</key>
			<string>dev.cobre.blurhiderprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>BHPSwitchWithInfoCell</string>
			<key>infoTitle</key>
			<string>Dock Background</string>
			<key>infoMessage</key>
			<string>Hide the background of the Dock</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>dev.cobre.blurhiderprefs</string>
			<key>key</key>
			<string>DKEnabled</string>
			<key>label</key>
			<string>Dock Background</string>
			<key>PostNotification</key>
			<string>dev.cobre.blurhiderprefs/ReloadPrefs</string>
		</dict>

		<dict>
		  <key>cell</key>
		  <string>PSGroupCell</string>
		  <key>footerText</key>
		  <string></string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>cellClass</key>
     		<string>HBTintedTableCell</string>
			<key>action</key>
			<string>respring</string>
		</dict>

		<!-- Standard size: -->
		<dict>
		    <key>cellClass</key>
		    <string>HBTwitterCell</string>
		    <key>label</key>
		    <string>CobreDev</string>
		    <key>user</key>
		    <string>CobreDev</string>
		</dict>

	</array>
	<key>title</key>
	<string>BlurHider</string>
</dict>
</plist>
