Package: com.cobre.podhider
Name: PodHider
Architecture: iphoneos-arm
Maintainer: CobreDev <cooper@cooperhull.com>
Author: CobreDev <cooper@cooperhull.com>
Depends: mobilesubstrate, preferenceloader
Section: Tweaks
Description: Hides App Library category backgrounds 
Depiction: https://repo.cobre.dev/depictions/podhider/
Sileodepiction: https://raw.githubusercontent.com/CobreDev/repo/master/sileodepictions/PodHider.json
Version: 1.0b1-11+debug
Installed-Size: 444
